.git
_site
node_modules
.bundle
vendor/bundle
vendor/cache
.asset-cache
.jekyll-assets-cache
.jekyll-cache
.jekyll-metadata
.playwright-cli
.sass-cache
.RData
.Rhistory
.Rproj.user
*.Rproj
_source/*_cache
__pycache__
*.pyc
.DS_Store
**/.DS_Store
.env
.env.*
*_artifacts
