/* ==========================================================================
   DEFAULT LIGHT THEME
   ========================================================================== */

$active-light-theme: (
    base: #7a8288,
    background: #fff,
    footer: #f2f3f3,
    border: #f2f3f3,
    border-strong: #bdc1c4,
    code-background: #fafafa,
    code-text: #494e52,
    caption: #6f7478,
    link: #2979ab,
    link-hover: #1f5b80,
    link-visited: #457c9e,
    masthead-link: #5d646a,
    masthead-link-hover: #2979ab,
    text: #494e52,
    text-light: #6f7478,
    thead: #f2f3f3,
    selection-background: #b3d4fc,
    selection-text: #494e52,
    danger: #ee5f5b,
    warning: #f89406,
    success: #62c462,
    info: #2979ab
);

:root {
  @include emit-theme-properties($active-light-theme);
}
