<div class="page__comments">
  {% capture comments_label %}{{ site.data.ui-text[site.locale].comments_label | default: "Comments" }}{% endcapture %}
  {% case site.comments.provider %}
  {% when "disqus" %}
    <h4 class="page__comments-title">{{ comments_label }}</h4>
    <section id="disqus_thread" aria-label="{{ comments_label }}"></section>
  {% when "discourse" %}
    <h4 class="page__comments-title">{{ comments_label }}</h4>
    <section id="discourse-comments" aria-label="{{ comments_label }}"></section>
  {% when "facebook" %}
    <h4 class="page__comments-title">{{ comments_label }}</h4>
    <section class="fb-comments" aria-label="{{ comments_label }}" data-href="{{ page.url | absolute_url }}" data-mobile="true" data-num-posts="{{ site.comments.facebook.num_posts | default: 5 }}" data-width="100%" data-colorscheme="{{ site.comments.facebook.colorscheme | default: 'light' }}"></section>
  {% when "custom" %}
    <section id="comments" aria-label="{{ comments_label }}"></section>
  {% endcase %}
</div>
