/* ==========================================================================
   Syntax highlighting
   ========================================================================== */

div.highlighter-rouge,
figure.highlight {
  position: relative;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid var(--global-border-color);
  border-radius: $border-radius;
  color: var(--global-code-text-color);
  background-color: var(--global-code-background-color);
  box-shadow: $box-shadow;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    color: var(--global-code-text-color);
    background-color: var(--global-thead-color);
    content: "\f121";
    font-family: var(--fa-style-family-classic) !important;
    font-weight: 900;
    font-size: $type-size-6;
    line-height: 1;
    text-transform: none;
    speak: none;
  }

  .highlight {
    margin: 0;
    font-family: $monospace;
    font-size: $type-size-syntax;
    line-height: 1.8;
  }
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }

.highlight .c,
.highlight .ch,
.highlight .cm,
.highlight .cp,
.highlight .cpf,
.highlight .c1,
.highlight .cs,
.highlight .gp,
.highlight .sd {
  color: var(--syntax-comment);
  font-style: italic;
}

.highlight .err,
.highlight .gd,
.highlight .gr,
.highlight .gt,
.highlight .ne {
  color: var(--syntax-error);
}

.highlight .err { border: 1px solid var(--syntax-error); }
.highlight .gt,
.highlight .ne { font-weight: bold; }

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt,
.highlight .nb,
.highlight .nt,
.highlight .ow {
  color: var(--syntax-keyword);
  font-weight: bold;
}

.highlight .g,
.highlight .l,
.highlight .n,
.highlight .x,
.highlight .p,
.highlight .ge,
.highlight .go,
.highlight .gs,
.highlight .ld,
.highlight .nc,
.highlight .no,
.highlight .nf,
.highlight .nn,
.highlight .nx,
.highlight .py,
.highlight .nv,
.highlight .fm,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
  color: var(--syntax-literal);
}

.highlight .p,
.highlight .gs { font-weight: bold; }
.highlight .ge,
.highlight .go { font-style: italic; }
.highlight .o,
.highlight .ni,
.highlight .nl { color: var(--syntax-operator); }
.highlight .o { font-weight: bold; }

.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
  color: var(--syntax-number);
  font-weight: bold;
}

.highlight .s,
.highlight .sa,
.highlight .sb,
.highlight .sc,
.highlight .dl,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss {
  color: var(--syntax-string);
}

.highlight .na { color: var(--syntax-attribute); }
.highlight .nd,
.highlight .gh,
.highlight .gu { color: var(--syntax-decorator); font-weight: bold; }
.highlight .gi { color: var(--site-success-color); }
.highlight .bp { color: var(--site-info-color); }
.highlight .w { color: var(--global-code-text-color); text-decoration: underline; }
