.container {
    width:100%;
    border:1px solid var(--site-border-subtle);
}
.container div {
    width:100%;
}
.container .header {
    background-color:var(--site-border-subtle);
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
