{% assign discourse_server = site.comments.discourse.server | default: "" | strip %}
{% assign discourse_scheme = discourse_server | slice: 0, 8 %}
{% if discourse_scheme == "https://" %}
<script>
  (function () {
    var discourseUrl = {{ discourse_server | jsonify }}.replace(/\/+$/, "") + "/";
    window.DiscourseEmbed = {
      discourseUrl: discourseUrl,
      discourseEmbedUrl: {{ page.url | absolute_url | jsonify }}
    };

    var script = document.createElement("script");
    script.src = discourseUrl + "javascripts/embed.js";
    script.async = true;
    (document.head || document.body).appendChild(script);
  }());
</script>
<noscript>Please enable JavaScript to view the comments powered by <a href="https://www.discourse.org/">Discourse.</a></noscript>
{% endif %}
