{% assign disqus_shortname = site.comments.disqus.shortname | default: "" | strip %}
{% if disqus_shortname != "" %}
<script>
  (function () {
    var shortname = {{ disqus_shortname | jsonify }};
    var script = document.createElement("script");
    script.src = "https://" + shortname + ".disqus.com/embed.js";
    script.async = true;
    script.setAttribute("data-timestamp", String(Date.now()));
    (document.head || document.body).appendChild(script);
  }());
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
