{% assign facebook_appid = site.comments.facebook.appid | default: "" | strip %}
{% assign facebook_sdk_version = site.comments.facebook.sdk_version | default: "" | strip %}
{% if facebook_appid != "" and facebook_sdk_version != "" %}
<div id="fb-root"></div>
<script>
  (function (document, tagName, id) {
    var firstScript = document.getElementsByTagName(tagName)[0];
    if (document.getElementById(id)) return;

    var script = document.createElement(tagName);
    script.id = id;
    script.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version={{ facebook_sdk_version | uri_escape }}&appId={{ facebook_appid | uri_escape }}";
    firstScript.parentNode.insertBefore(script, firstScript);
  }(document, "script", "facebook-jssdk"));
</script>
{% endif %}
