---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <!-- Grey Background Box -->
    <div style="position: absolute; top: 0; left: 0; width: 300px; height: 100vh; background-color: #f0f0f0; z-index: -1;"></div>

    <div id="main-content" style="position: relative; z-index: 1;">
      {{ content }}
    </div>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  </body>
</html>
