/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  /* default button */
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  color: var(--site-base-contrast) !important;
  font-family: $sans-serif;
  font-size: $type-size-6;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--global-base-color);
  border: 0 !important;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 0 2px var(--site-base-contrast);
  }

  .icon {
    margin-right: 0.5em;
  }

  .icon + .hidden {
    margin-left: -0.5em; /* override for hidden text*/
  }

  /* fills width of parent container */

  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* for dark backgrounds */

  &--inverse {
    color: var(--global-link-color) !important;
    border: 1px solid var(--global-dark-border-color) !important; /* override*/
    background-color: var(--site-surface-raised);

    &:hover {
      color: var(--site-base-contrast) !important;
      border-color: var(--global-base-color);
      background-color: var(--global-base-color);
    }
  }

  /* light outline */

  &--light-outline {
    border: 1px solid #fff !important; /* override*/
    background-color: transparent;
  }

  /* information */

  &--info {
    color: var(--site-info-contrast) !important;
    background-color: var(--site-info-color);

    &:hover {
      background-color: var(--site-info-color);
    }
  }

  /* warning */

  &--warning {
    color: var(--site-warning-contrast) !important;
    background-color: var(--site-warning-color);

    &:hover {
      background-color: var(--site-warning-color);
    }
  }

  /* success */

  &--success {
    color: var(--site-success-contrast) !important;
    background-color: var(--site-success-color);

    &:hover {
      background-color: var(--site-success-color);
    }
  }

  /* danger */

  &--danger {
    color: var(--site-danger-contrast) !important;
    background-color: var(--site-danger-color);

    &:hover {
      background-color: var(--site-danger-color);
    }
  }

  /* disabled */

  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: 0.65;
  }

  /* social buttons */

  $social:
  (facebook, $facebook-color),
  (twitter, $twitter-color),
  (google-plus, $google-plus-color),
  (linkedin, $linkedin-color),
  (mastodon, $mastodon-color);

  @each $socialnetwork, $color in $social {
    &--#{$socialnetwork} {
      color: #fff !important;
      background-color: $color !important;
      border: 0 !important;

      &:hover {
        color: #fff !important;
        background-color: mix(#000, $color, 20%) !important;
      }
    }
  }

  /* extra large button */

  &--x-large {
    font-size: $type-size-4;
  }

  /* large button */

  &--large {
    font-size: $type-size-5;
  }

  /* small button */

  &--small {
    font-size: $type-size-7;
  }
  
  /* research page buttons */
  
  &--research {
    display: inline-block;
    margin-bottom: 0.25em;
    padding: 0.125em 0.25em;
    color: var(--global-link-color);
    text-align: center;
    text-decoration: none !important;
    border: 1px solid;
    border-color: var(--global-link-color);
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
      color: var(--site-link-contrast);
      background-color: var(--global-link-color) !important;
    }
  }
  
}
